/.idea
/.DS_Store
/bin
/pkg
/projectFilesBackup
/src/.DS_Store
/src/github.com
/src/github.com/Unknwon
/src/github.com/user

/src/github.com/jinzhu/gorm
/src/github.com/jinzhu/inflection
/src/github.com/PuerkitoBio/goquery
/src/github.com/kardianos/govendor
/src/beegoBlog
/download
/installSoft
